@font-face {
  font-family: 'Source Code Pro';
  src: url(../media/fonts/sourcecodepro/SourceCodePro-Regular.ttf); }
@font-face {
  font-family: 'Source Code Pro';
  src: url(../media/fonts/sourcecodepro/SourceCodePro-ExtraLight.ttf);
  font-weight: 200; }
@font-face {
  font-family: 'Source Code Pro';
  src: url(../media/fonts/sourcecodepro/SourceCodePro-Light.ttf);
  font-weight: 300; }
@font-face {
  font-family: 'Source Code Pro';
  src: url(../media/fonts/sourcecodepro/SourceCodePro-Medium.ttf);
  font-weight: 500; }
@font-face {
  font-family: 'Source Code Pro';
  src: url(../media/fonts/sourcecodepro/SourceCodePro-SemiBold.ttf);
  font-weight: 600; }
@font-face {
  font-family: 'Source Code Pro';
  src: url(../media/fonts/sourcecodepro/SourceCodePro-Bold.ttf);
  font-weight: 700; }
@font-face {
  font-family: 'Source Code Pro';
  src: url(../media/fonts/sourcecodepro/SourceCodePro-Black.ttf);
  font-weight: 900; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-Regular.ttf); }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-Thin.ttf);
  font-weight: 100; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-Light.ttf);
  font-weight: 300; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-LightItalic.ttf);
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-Regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-italic.ttf);
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-Medium.ttf);
  font-weight: 500; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-Bold.ttf);
  font-weight: 700; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-Black.ttf);
  font-weight: 900; }
@font-face {
  font-family: 'Roboto';
  src: url(../media/fonts/roboto/Roboto-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic; }
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: url("../media/img/background-madrid.png") center center no-repeat fixed;
  background-size: cover; }

html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", "Source Code Pro", Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff; }
  html a {
    color: inherit;
    text-decoration: none; }
  @media (min-width: 768px) {
    html header {
      border-bottom: 1px solid #fff;
      min-height: 5em; }
      html header #author-name {
        max-width: 35%;
        float: left;
        max-height: 2.6em;
        font-size: 2.48rem;
        font-weight: 300;
        margin: 2rem 0 0 5%; } }
  @media (max-width: 767px) {
    html header #author-name {
      background: rgba(0, 0, 0, 0.2);
      max-width: 98%;
      float: left;
      max-height: 1.6em;
      font-size: 1.48rem;
      font-weight: 300;
      margin: 2% 0 0 2%; } }

@media (min-width: 768px) {
  div#social-container {
    float: right;
    max-width: 65%;
    overflow: hidden;
    height: 2.6em;
    margin: 2em 5% 0 0; }
    div#social-container ul {
      list-style-type: none;
      margin: 0 !important; }
    div#social-container ul > li {
      float: left; } }
@media (min-width: 320px) and (max-width: 767px) {
  div#social-container {
    float: right;
    overflow: hidden;
    max-width: 2.6em;
    margin: 0 2%; }
    div#social-container ul {
      list-style-type: none;
      padding: 0; } }
@media (min-width: 0em) and (max-width: 319px) {
  div#social-container {
    display: none; } }

/*# sourceMappingURL=main.css.map */
