@import 'importer';
$bg-video-enabled: false;
//Should be enabled bgvid in hml5 body
@if $bg-video-enabled {
    video#bgvid {
        @include media("<tablet") {
            display: none;
        }
        @include media(">=tablet") {
            @include bgVideo($media-folder+$images-folder+$background-video-img);
        }
    }
}

@else {
    html {
        a {
            color: inherit;
            text-decoration: none;
        }
        #bg {
            position: fixed;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
            z-index: -100;
        }
        #bg img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 0;
            min-height: 0;
        }
        font-family: $font-stack;
        font-size: $font-basic;
        color: $primary-font-color;
    }
}

div#social-container {
    @include media(">=500px") {
        float: right;
        max-width: 65%;
        overflow: hidden;
        height: 2.6em;
        ul {
            list-style-type: none;
        	margin: 0 !important;
        }
        ul>li {
            float: left;
        }
    }
    @include media(">=phone", "<500px") {
        float: right;
        overflow: hidden;
        max-width: 2.6em;
        margin: 2% 2%;
        ul {
            list-style-type: none;
            padding: 0;
        }
    }
    @include media(">=0em", "<phone") {
        display: none;
    }
}
