@import 'importer';
$bg-video-enabled: false;
//Should be enabled bgvid in hml5 body
@if $bg-video-enabled {
    video#bgvid {
        @include media("<tablet") {
            display: none;
        }
        @include media(">=tablet") {
            @include bgVideo($media-folder+$images-folder+$background-video-img);
        }
    }
}

@else {
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        @include bgImage($media-folder+$images-folder+$background-img);
    }
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        a {
            color: inherit;
            text-decoration: none;
        }
        @include media(">=tablet") {
            header {
                border-bottom: 1px solid #fff;
                min-height: 5em;
            	#author-name {
                    max-width: 35%;
                    float: left;
                    max-height: 2.6em;
                    font-size: 2.48rem;
                    font-weight: 300;
                    margin: 2rem 0 0 5%;
                }
            }
        }
        @include media("<tablet") {
            header {
            	#author-name {
            		background: rgba(0, 0, 0, 0.2);
                    max-width: 98%;
                    float: left;
                    max-height: 1.6em;
                    font-size: 1.48rem;
                    font-weight: 300;
                    margin: 2% 0 0 2%;
                }
            }
        }
        font-family: $font-stack;
        font-size: $font-basic;
        color: $primary-font-color;
    }
}

div#social-container {
    @include media(">=tablet") {
        float: right;
        max-width: 65%;
        overflow: hidden;
        height: 2.6em;
        margin: 2em 5% 0 0;
        ul {
            list-style-type: none;
            margin: 0 !important;
        }
        ul>li {
            float: left;
        }
    }
    @include media(">=phone", "<tablet") {
        float: right;
        overflow: hidden;
        max-width: 2.6em;
        margin: 0 2%;
        ul {
            list-style-type: none;
            padding: 0;
        }
    }
    @include media(">=0em", "<phone") {
        display: none;
    }
}
