@import 'importer';
$bg-video-enabled: false;
//Should be enabled bgvid in hml5 body
@if $bg-video-enabled {
    video#bgvid {
        @include media("<tablet") {
            display: none;
        }
        @include media(">=tablet") {
            @include bgVideo($media-folder+$images-folder+$background-video-img);
        }
    }
}

@else {
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        @include bgImage($media-folder+$images-folder+$background-img);
    }
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        a {
            color: inherit;
            text-decoration: none;
        }
        @include media(">=tablet") {
            header {
                border-bottom: 1px solid #fff;
                min-height: 5em;
                #mobile-menu {
                    display: none;
                }                
            	#author-name {
                    max-width: 35%;
                    float: left;
                    max-height: 2.6em;
                    font-size: 2.48rem;
                    font-weight: 300;
                    margin: 2rem 0 0 5%;
                }
            }
        }
        @include media("<tablet") {
            header {
                #mobile-menu {
                    float: left;
                }                  
            	#author-name {
                     /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.64) 1%, rgba(0,0,0,0) 77%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(1%,rgba(0,0,0,0.64)), color-stop(77%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.64) 1%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.64) 1%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.64) 1%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.64) 1%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

                     max-width: 98%;
                     float: left;
                     max-height: 1.6em;
                     font-size: 1.48rem;
                     font-weight: 300;
                     margin: 0.5rem 0 0 0.5rem;
                }
            }
        }
        font-family: $font-stack;
        font-size: $font-basic;
        color: $primary-font-color;
    }
}

div#social-container {
    @include media(">=tablet") {
        float: right;
        max-width: 65%;
        overflow: hidden;
        height: 2.6em;
        margin: 2em 5% 0 0;
        ul {
            list-style-type: none;
            margin: 0 !important;
        }
        ul>li {
            float: left;
        }
    }
    @include media(">=220px", "<tablet") {
        float: right;
        overflow: hidden;
        max-width: 2.6em;
        margin: 0 2%;
        ul {
            list-style-type: none;
            padding: 0;
        }
    }
    @include media(">=0em", "<220px") {
        display: none;
    }
}
