//Fonts
$font-stack:    Helvetica, sans-serif;
//Sizes
$font-basic: 1rem;
$font-giant: $font-basic * 2;
$font-bigger: $font-basic * 1.5;
$font-big: $font-basic * 1.25; //16px
$font-small: $font-basic * 0.5;
$font-medium: $font-basic * 0.75;
//Colors
$primary-font-color: #000;
$secondary-font-color: #fff;
$error-font-color: #f00;
$success-font-color: #0f0;