$media-folder: '../media/';
$images-folder: 'img/';
$audio-folder: 'audio/';
$video-folder: 'video/';
$background-video-img: 'background-video.png';
$background-img: 'background-madrid.png';
//$background-img: false;